################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kursus/rod/opgave4-60-5-RekursiveMetoder/bin/Debug/net5.0
/kursus/rod/opgave4-60-5-RekursiveMetoder/obj
/kursus/rod/opgave5-65-2/bin/Debug/net5.0
/kursus/rod/opgave5-65-2/obj
/kursus/rod/rod/bin/Debug/net5.0
/kursus/rod/callbackEvent/obj
/kursus/rod/Opgave6-80-3-klasseDerReplæsentereEtBægerAFTerninger/bin/Debug/net5.0
/kursus/rod/Opgave6-80-3-klasseDerReplæsentereEtBægerAFTerninger/obj
/kursus/rod/Opgave7-90-1-TerningMedEgenskaber/bin/Debug/net5.0
/kursus/rod/Opgave7-90-1-TerningMedEgenskaber/obj
/kursus/rod/opgave8-90-5-AutomatiskeEgenskaber(terning)/bin/Debug/net5.0
/kursus/rod/opgave8-90-5-AutomatiskeEgenskaber(terning)/obj
/kursus/rod/readFileCSV/obj
/kursus/rod/reflection/bin/Debug/net5.0
/kursus/rod/reflection/obj
/kursus/rod/rod2/obj
/kursus/rod/TestNull/bin/Debug
/kursus/rod/TestNull/obj
