################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kursus/rod/opgave4-60-5-RekursiveMetoder/bin/Debug/net5.0
