################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kursus/rod/opgave4-60-5-RekursiveMetoder/bin/Debug/net5.0
/kursus/rod/opgave4-60-5-RekursiveMetoder/obj
/kursus/rod/opgave5-65-2/bin/Debug/net5.0
/kursus/rod/opgave5-65-2/obj
/kursus/rod/rod/bin/Debug/net5.0
/kursus/rod/callbackEvent/obj
/kursus/rod/Opgave6-80-3-klasseDerReplæsentereEtBægerAFTerninger/bin/Debug/net5.0
/kursus/rod/Opgave6-80-3-klasseDerReplæsentereEtBægerAFTerninger/obj
/kursus/rod/Opgave7-90-1-TerningMedEgenskaber/bin/Debug/net5.0
/kursus/rod/Opgave7-90-1-TerningMedEgenskaber/obj
/kursus/rod/opgave8-90-5-AutomatiskeEgenskaber(terning)/bin/Debug/net5.0
/kursus/rod/opgave8-90-5-AutomatiskeEgenskaber(terning)/obj
/kursus/rod/readFileCSV/obj
/kursus/rod/reflection/bin/Debug/net5.0
/kursus/rod/reflection/obj
/kursus/rod/rod2/obj
/kursus/rod/TestNull/bin/Debug
/kursus/rod/TestNull/obj
/kursus/rod/callbackEvent/bin/Debug/net5.0
/kursus/rod/Opgave1/obj
/kursus/rod/Opgave1/bin/Debug/net5.0
/kursus/rod/Opgave2-BrugAfDataTimeOgTimeSpan/bin/Debug/net5.0
/kursus/rod/Opgave2-BrugAfDataTimeOgTimeSpan/obj
/kursus/rod/opgave3-BrugAfVariabler/bin/Debug/net5.0
/kursus/rod/opgave3-BrugAfVariabler/obj
/kursus/rod/rod2/bin/Debug/net5.0
/kursus/rod/rod3/bin/Debug/net5.0
/kursus/rod/rod3/obj
/kursus/rod/Day3/obj
/kursus/rod/day3-1/obj
/kursus/rod/day3-1/bin/Debug/net6.0
/kursus/rod/Deconstruktor1/obj
/kursus/rod/Deconstruktor1/bin/Debug/net5.0
/kursus/rod/DependensiIndektion/bin/Debug/net5.0
/kursus/rod/DependensiIndektion/obj
/kursus/rod/interface/bin/Debug/net5.0
/kursus/rod/interface/obj
/kursus/rod/polymofi2/obj
/kursus/rod/polymofi4/bin/Debug/net5.0
/kursus/rod/polymofi4/obj
/kursus/rod/polypofi/bin/Debug/net5.0
/kursus/rod/polypofi/obj
/kursus/rod/polypomif3/obj
/kursus/rod/WinFormsApp1/bin/Debug/net5.0-windows
/kursus/rod/WinFormsApp1/obj
